.score,
.highscore {
	font-family: 'Gayathri', sans-serif;
	/* font-size: 34px; */
}
.gameScore {
	padding: 15px;
	border-radius: 5px;
	margin: 10px;
	width: 60%;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	background-color: #275d85;
	color: white;
}

/* .highscore {
	color: blue;
} */
