.status {
	color: blue;
}
.img-container {
	height: 100%;
	overflow: hidden;
	text-align: center;
	background: #6caddc;
}

.content {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 15px;
}

.numbers {
	margin: 30px;
}
