/* .status {
	color: blueviolet;
} */
.img-container {
	height: 100%;
	overflow: hidden;
	text-align: center;
	background: #c5c5c5;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.content {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 15px;
}

.numbers {
	margin: 30px;
}

.btn {
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.postbutton {
	text-align: center;
}
