.card {
	margin: 10px;
	padding: 20px;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	border-radius: 5px;
	background-color: #4680d6;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	text-align: center;
	position: fixed;
	background: white;
	width: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 20px;
	padding: 20px;
	border: 5px solid black;
	border-radius: 5%;
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.footer {
	border-top: 5px solid black;
	font-family: 'Gayathri', sans-serif;
}

/* .status {
	color: blueviolet;
} */
.img-container {
	height: 100%;
	overflow: hidden;
	text-align: center;
	background: #c5c5c5;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.content {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 15px;
}

.numbers {
	margin: 30px;
}

.btn {
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.postbutton {
	text-align: center;
}

.score,
.highscore {
	font-family: 'Gayathri', sans-serif;
	/* font-size: 34px; */
}
.gameScore {
	padding: 15px;
	border-radius: 5px;
	margin: 10px;
	width: 60%;
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	background-color: #275d85;
	color: white;
}

/* .highscore {
	color: blue;
} */

.title,
.directions {
	font-family: 'Gayathri', sans-serif;
}

.wrapper {
	padding-top: 50px;
	background: #eceff1;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	padding: 20px;
	justify-content: space-around;
	align-content: flex-start;
	overflow: auto;
}

.nav-item {
	border: 3px solid black;
	border-radius: 5px;
	margin: 5px;
}

.nav-item:hover {
	background-color: grey;
}
